<p>
  <b>Cook:</b>
  <%=h @adjustment.cook_id %>
</p>

<p>
  <b>Sensor:</b>
  <%=h @adjustment.sensor_id %>
</p>

<p>
  <b>Target:</b>
  <%=h @adjustment.target %>
</p>

<p>
  <b>Alarm:</b>
  <%=h @adjustment.alarm %>
</p>

<p>
  <b>Low:</b>
  <%=h @adjustment.low %>
</p>

<p>
  <b>High:</b>
  <%=h @adjustment.high %>
</p>

<p>
  <b>Blower:</b>
  <%=h @adjustment.blower_id %>
</p>

<p>
  <b>Note:</b>
  <%=h @adjustment.note %>
</p>


<%= link_to 'Edit', edit_adjustment_path(@adjustment) %> |
<%= link_to 'Back', adjustments_path %>
