<h2><%= @sensor.name %></h2>

<p>
  <b>Serial number:</b>
  <%=h @sensor.serial_number %>
</p>

<p>
  <b>Target:</b>
  <%=h @sensor.target %>
</p>

<p>
  <b>Alarm:</b>
  <%=h @sensor.alarm %>
</p>

<p>
  <b>Low:</b>
  <%=h @sensor.low %>
</p>

<p>
  <b>High:</b>
  <%=h @sensor.high %>
</p>

<p>
  <b>Blower:</b>
  <%= link_to @sensor.blower.name, @sensor.blower if @sensor.blower %>
</p>

<p>
  <b>Stoker:</b>
  <%= link_to @sensor.stoker.name, @sensor.stoker if @sensor.stoker %>
</p>

<p>
  <b>Last Updated:</b>
  <%= format_datetime(@sensor.updated_at) %>
</p>

<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
