<h2><%=h @cook.name %></h2>

<%= link_to image_tag('delete.png') + ' Delete', @cook, :confirm => 'Are you sure?', :method => :delete, :style => "float:right;" %>

<p>
  <%= link_to image_tag("pencil.png") + " Edit", edit_cook_path(@cook) %> |
  <%= cook_status(@cook) %>
  <% if @cook.running? -%>
    <%= link_to "Stop", stop_cook_path(@cook), :method => :put, :confirm => "Are you sure?  This will reset all sensor alarms and targets to 0." %>
  <% end -%>
</p>

<p>
  On <%= link_to @cook.stoker.name, @cook.stoker %> started <%= format_datetime(@cook.start_time) %>
  <%= "- #{@cook.start_time.to_date == @cook.end_time.to_date ? format_time(@cook.end_time) : format_datetime(@cook.end_time)}" if @cook.end_time.to_s != "" %>
  duration <%= distance_of_time_in_words(@cook.start_time, @cook.end_time || Time.now) %>
</p>

<p>
  <b>Last Updated</b>
  <%= distance_of_time_in_words_to_now(@cook.stoker.events.find(:last).created_at) %> ago
</p>

<% if @cook.running? -%>
  <p><%= render :partial => "/sensors/list", :locals => {:sensors => @cook.sensors, :cook => @cook} %></p>
<% end -%>

<p id="show_adjustments">
  <%= link_to_function "Show Adjustments", "$('adjustments').show();$('show_adjustments').hide();" %>
</p>

<div id="adjustments" style="display:none">
  <p id="hide_adjustments">
    <%= link_to_function "Hide Adjustments", "$('adjustments').hide();$('show_adjustments').show();" %>
  </p>

  <hr/>

  <%= render :partial => "adjustment", :collection => @adjustments %>
</div>

<% form_tag cook_path(@cook), :method => :get do %>
  <%= radio_button_tag :range, "last", params[:range] == "last", :onclick => "$('range_select').hide();" %> Last <%= text_field_tag :hours, params[:hours], :size => "2", :maxlength => "2" %> Hours
  <%= radio_button_tag :range, "all", params[:range] == "all", :onclick => "$('range_select').hide();" %> All
  <%= radio_button_tag :range, "range", params[:range] == "range", :onclick => "if ($('range_range').value == 'range'){$('range_select').show();}" %> Range

  <%= submit_tag "Change" %>

  <p id="range_select" style="<%= params[:range] == "range" ? "" : "display:none" %>">
    <%= select_datetime params[:start_time].to_time, :prefix => "start" %><br/>
    <%= select_datetime params[:end_time].try(:to_time), :prefix => "end" %>
  </p>
<% end %>

<%= graph(@events, "cook") %>

<p>
  <%= simple_format(@cook.description) %>
</p>

<p>
  <%= link_to "Export to CSV", formatted_events_cook_url(@cook, :csv) %>
</p>
