<h2><%=h @cook.name %></h2>

<% if @recent_food_events.size > 0 -%>
  <h3>Food</h3>
  <%= graph(@recent_food_events, "food") %>
<% end -%>

<% if @recent_fire_events.size > 0 -%>
  <h3>Fire</h3>
  <%= graph(@recent_fire_events, "fire") %>
<% end -%>

<p>
  On <%= link_to @cook.stoker.name, @cook.stoker %> started at <%= format_datetime(@cook.start_time) %>
</p>

<p>
  <%= simple_format(@cook.description) %>
</p>

<%= link_to 'Edit', edit_cook_path(@cook) %>
