<ul title="Home" selected="true">
  <li><%= link_to "Cooks", cooks_path %></li>
  <li><%= link_to "Stokers", stokers_path %></li>
  <li><%= link_to "Sensors", sensors_path %></li>
  <li><%= link_to "Blowers", blowers_path %></li>
  <!-- <li><%= link_to "Events", events_path %></li> -->
</ul>
