<h1>Editing stoker</h1>

<%= error_messages_for :stoker %>

<% form_for(@stoker) do |f| %>
  <p>
    <b>Host</b><br />
    <%= f.text_field :host %>
  </p>

  <p>
    <b>Port</b><br />
    <%= f.text_field :port %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @stoker %> |
<%= link_to 'Back', stokers_path %>
