<h2><%=h @stoker.name %></h2>

<%= link_to image_tag("delete.png") + " Delete", stoker_path(@stoker), :method => :delete, :confirm => "Are you sure?", :style => "float:right;" %>

<p>
  <%= link_to image_tag("pencil.png") + " Edit", edit_stoker_path(@stoker) %> |
  <%= link_to_remote "Sync", :url => sync_stoker_path(@stoker), :method => :put, :before => "$('sensors_spinner').show()", :complete => "$('sensors_spinner').hide()" %>
  <%#= link_to "Sync Plain", sync_stoker_path(@stoker), :method => :put %>
  <%= spinner("sensors_spinner") %>
</p>

<p>
  <b>Status</b>
  <%=h @stoker.status %> <%= link_to "Run", run_stoker_path(@stoker), :method => :put unless @stoker.status == "Running" %>
</p>

<% if @stoker.connection_type == 'http' -%>
  <p>
    <b>Host</b>
    <%= link_to @stoker.host_url, @stoker.host_url %>
  </p>
<% end -%>

<div id="sensors">
  <%= render :partial => "/sensors/list", :locals => {:sensors => @stoker.sensors} %>
</div>

<%= graph(@recent_events, "recent_events") %>
