<p>
  <b>Host:</b>
  <%=h @stoker.host %>
</p>

<p>
  <b>Port:</b>
  <%=h @stoker.port %>
</p>

<p>
  <b>Name:</b>
  <%=h @stoker.name %>
</p>

<p>
  <b>Is on:</b>
  <%=h @stoker.is_on %>
</p>

<%= link_to 'Edit', edit_stoker_path(@stoker) %> |
<%= link_to 'Back', stokers_path %>

<p>
  <%= link_to_remote "Sync", :url => sync_stoker_path(@stoker), :before => "$('sensors_spinner').show()", :complete => "$('sensors_spinner').hide()" %>
  <%#= link_to "Sync Plain", sync_stoker_path(@stoker), :method => :post %>
  <%= spinner("sensors_spinner") %>
</p>

<div id="sensors">
  <%= render :partial => "sensors" %>
</div>