<%= error_messages_for :blower %>

<p>
  <b>Serial number</b><br />
  <%= f.text_field :serial_number %>
</p>

<p>
  <b>Name</b><br />
  <%= f.text_field :name %>
</p>

<p>
  <b>Sensor</b><br />
  <%= f.collection_select :sensor_id, Sensor.find(:all), :id, :name, {:include_blank => true} %>
</p>

<p>
  <b>Stoker</b><br />
  <%= f.collection_select :stoker_id, Stoker.find(:all), :id, :name %>
</p>
