<h2>Editing blower</h2>

<%= error_messages_for :blower %>

<% form_for(@blower) do |f| %>
  <p>
    <b>Serial number</b><br />
    <%= f.text_field :serial_number %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Stoker</b><br />
    <%= f.text_field :stoker_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @blower %> |
<%= link_to 'Back', blowers_path %>
