<h2><%=h @blower.name %></h2>

<p>
  <%= link_to 'Edit', edit_blower_path(@blower) %> |
  <%= link_to 'Delete', @blower, :confirm => 'Are you sure?', :method => :delete %>
</p>

<p>
  <b>Serial number:</b>
  <%=h @blower.serial_number %>
</p>

<p>
  <b>Stoker:</b>
  <%= link_to @blower.stoker.name, @blower.stoker if @blower.stoker %>
</p>

<p>
  <b>Sensor:</b>
  <%= link_to @blower.sensor.name, @blower.sensor if @blower.sensor %>
</p>

<p>
  <b>Last Updated:</b>
  <%= format_datetime(@blower.updated_at) %>
</p>
