<h1>Editing event</h1>

<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
  <p>
    <b>Stoker</b><br />
    <%= f.text_field :stoker_id %>
  </p>

  <p>
    <b>Sensor</b><br />
    <%= f.text_field :sensor_id %>
  </p>

  <p>
    <b>Temp</b><br />
    <%= f.text_field :temp %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
