<h2>Listing events</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Stoker</th>
    <th>Sensor</th>
    <th>Temp</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%= format_datetime(event.created_at) %></td>
    <td><%= link_to event.stoker.name, event.stoker %></td>
    <td><%= link_to event.sensor.name, event.sensor %></td>
    <td><%=h event.temp %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @events %>

<%= link_to 'New event', new_event_path %>
