<h2>Listing Events</h2>

<p><%= link_to '+ Add New Event', new_event_path %></p>

<% for event in @events %>
  <p>
    <%= link_to format_datetime(event.created_at), event %>
    <%= link_to event.stoker.name, event.stoker %>
    <%= link_to event.sensor.name, event.sensor %>
    <%=h event.temp %>F
  </p>
<% end %>

<%= will_paginate @events %>


