<h1>Listing events</h1>

<table>
  <tr>
    <th>Stoker</th>
    <th>Sensor</th>
    <th>Temp</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%=h event.stoker_id %></td>
    <td><%=h event.sensor_id %></td>
    <td><%=h event.temp %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
