<h2><%=h @event.sensor.name %> Event</h2>

<%= link_to image_tag("delete.png") + ' Delete', @event, :confirm => 'Are you sure?', :method => :delete, :style => "float:right;" %>

<p>
  <%= link_to image_tag("pencil.png") + ' Edit', edit_event_path(@event) %>
</p>

<p>
  <b>Stoker:</b>
  <%= link_to @event.stoker.name, @event.stoker %>
</p>

<p>
  <b>Temp:</b>
  <%=h @event.temp %>
</p>

<p>
  <b>Time:</b>
  <%= format_datetime(@event.created_at) %>
</p>
